@import "variable";

#about{
	> article {
		> .icon-houses{
			@include make-md-column(1);
		}
		> span{
			> p{
				font-family: $font-default;
				font-size: 12px;
				padding-top: 10px;
			}
		}
		> .description_about{
			@include make-md-column(10);
		}
	}
}