@import url(https://fonts.googleapis.com/css?family=Arvo:700,400);

//Variables
$font-default: 'Arvo', serif;
//--------

#about{
	margin-bottom: 20px;
	> article {
		> .icon-houses{
			> img{
				@include make-xs-column(4);
				@include make-md-column(1);
			}
		}
		
		> .description_about{
			@include make-md-column(10);
			> p{
				font-family: $font-default;
				font-size: 11px;
				padding-top: 10px;
			}
		}
		
	}
}