@import url(https://fonts.googleapis.com/css?family=Arvo:700,400);

//Variables
$font-default: 'Arvo', serif;
//--------

#footer{
	> .row{
		.content-footer{
			@include make-xs-column(12);
			@include make-md-column(4);
			background-clip: content-box;
			max-width: 350px;
			> p{
				font-family: $font-default;
				font-size: 12px;
			}
		}
	}
	>.row{
		> #location{
			@include make-xs-column(12);
			@include make-md-column(5);
			> p{
				font-family: $font-default;
				font-size: 10px;
			}
		}
		> #logo-sitenivel{
			@include make-md-column(1);
			@include make-md-column-offset(5);
		}
	}
}