#projects{
	> .row{
		> .projects__items{
			@include make-xs-column(12);
			@include make-md-column(4);

			min-height: 230px;
			background: #CCC;
			background-clip: content-box;
			margin-bottom: 20px;
		}
	}
}