@import url(https://fonts.googleapis.com/css?family=Arvo:700,400);

//Variables
$font-default: 'Arvo', serif;
//--------

//Style sheets

header{
	padding-top: 15px;
	#container-logo{
		@include make-md-column(2);
	}
	#content-number{
		@include make-md-column(2);
		@include make-md-column-offset(7);
		> #content-number_phone{
			> p{
				font-family: $font-default;
			}
		}
	}
}
