@import "variable";

//Style sheets

header{ //conteudo do cabeçalho
	padding-top: 15px;
	> .container-fluid{
		> .row-fluid{
			>.container-logo{
				@include make-md-column(2);
				padding-left: 0px;
			}
			>.content-number{
		 		//include
		 		@include make-xs-column(12);
				@include make-xs-column-pull(5);
		 		@include make-md-column(2);
				@include make-md-column-push(7);
				
				
				//css style
				padding-right: 0px;

				> p{
					float: right;
					font-family: $font-default;
					font-size: 14px;
				}
			}
		}
	}

	//Style da barra de navegação
	> .navbar{
		margin-bottom: 0px;
		height: 30px;
		> #menu{
			@include make-md-column(8);
			@include make-md-column-push(4);
			padding-left: 0px;
			> .collapse{
				padding-left: 0px;
				padding-right: 0px;
				> .nav-pills{
					float: right;
					> li{
						> a{
							color: #abc5bd;
							font-size: 14px;
							font-family: $font-default;
							font-weight: bold;
							font-style: none;
						}
					}	
				}
			}
		}
	}
}
