@import url(https://fonts.googleapis.com/css?family=Arvo:700,400);

body{
	background-color: #CCC;
	#page-mid{
		background-color: #ffffff;
	}
	.img-responsive{
	  display: block;
	  max-width: 100%;
	  height: auto;
	}
	#slider{
		margin-bottom: 20px;
	}
}