body{
	background-color: #CCC;
	
	>#content-mid {
		@include make-xs-column(12);
		@include make-md-column(8);
		@include make-md-column-offset(2);
		padding: 0px;
		background-color: #ffffff;
		
	}	

	.img-responsive{
	  display: block;
	  max-width: 100%;
	  height: auto;
	}
	
	> .container{
		> #slider{
			margin-bottom: 20px;
		}
	}
}