#projects{
	> #projects-items{
		> .projects-item{
			@include make-xs-column(12);
			@include make-md-column(4);
			max-width: 31%;

			background-clip: content-box;
			margin-bottom: 20px;
			padding-right: 0px;
		}
	}
}