//imports
@import "variable";
@import url(https://fonts.googleapis.com/css?family=Arvo:700,400);


//Variables
$font-default: 'Arvo', serif;
//--------

//Style sheets
#content-main{
	margin-top: 55px;
	> #header-main{
		margin-left: 15px;
		background-color: #CCC;
		> #phone-top{
			
		}
	}
}